.show {
    display: flexbox;
}

.hide {
    display: none;
}

.img-container-Carousel{
    height: 300px;
    background-color: aqua;
    object-fit: cover;
}
.view-button-container-Carousel{
    text-align: center;
}
.view-button-Carousel{
    background-color: inherit; 
    border: none;
    color: #DFA32E;
    font-size: 1.5em;
}
.icon-Carousel:hover {
    color:black;
  }
.heart-button-Carousel{
    font-size: 1.5em;
    color: #DFA32E;
    background-color: inherit;
    border:none;
}


