.DetailsCard-container{
    background-color: #000000;
    color: #DFDFDF;
    height: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

.DetailsCard-view{
    height: 30vh;
    width: auto;
    margin-top: 1em;
    background-color: rgb(126, 73, 73);
}
.DetailsCard-details{
    /* background-color: aqua; */
    width: 100%;
    height: auto;
    padding-top: 1em; 
}

.DetailsCard-view-button,.DetailsCard-heart-button{
    background-color: inherit;
    border: none;
    margin-left: 1em;
    font-size: 2em;
    color: #FFB21D;
}
.DetailsCard-button{
    width: 90%;
    margin: auto;
}
    
.DetailsCard-view-button-container{
    display: inline-block;

}

.icon-DetailsCard:hover {
    color:black;
  }