.container-Filter-filter{
    height: 90vh; /*<---*/
    overflow-y: scroll;
}

.Map-container-filter{
    height: 90vh; /*<---*/
    position: relative;
}
.Map-container-filter img{
    height: 90vh;
    width: 100%;
    object-fit:cover;
}

@media (min-width: 700px) {

          .container-DetailsCard{
            position: absolute;
            width: 100%;
            bottom: 0vh;
            left: 0vh;
        } 
}
@media (max-width: 700px) {
    .Map-container-filter{
        height: 100vh;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    } 
    .container-DetailsCard{
        margin-top: 1em;
    } 
}

.gm-style-iw:hover {
    border: 3px blue solid;
    /* overflow-x: hidden !important;  */
}
