.loginWrap {
    width: 40vw;
    background: #080709;
}

.loginForm{
    background:#4F4A4B;
}

.logInP{
    font-size: 2rem;
    color:#DFA32E !important;
    text-align: center;
}


#email {
    margin-top: 1rem;
}

.loginInput {
    margin-top: 1vw;
    margin-bottom: 3vw;
    background-color: #DFDFDF;
}

.spSignIn a{
    color: #DFDFDF;
}
.loginText{
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: #DFA32E;
}
.spSignIn a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #DFA32E;
}

.LogInSubmit{
    background: linear-gradient(92.51deg, #FFD37C 4.64%, #FC9700 94.72%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    border: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.LogInSubmit:hover{
    text-shadow: 1px 0px;
    box-shadow: 0px 4px 8px #FC9700;
    backdrop-filter: blur(5px);
}