.userMenu {
    float: right;
    text-align: center !important;
    width:10vw;
    background: linear-gradient(180deg, #DFA32E 0%, #3F301A 100%);
    border-radius: 8px;
    font-family: 'Roboto', 'Sans Serif';
    box-sizing: 0;
    box-sizing: content-box;
}

.ulUM {
    padding: 1vw;
    text-align: center;
    justify-content: center;
    align-self: center;
    list-style-type: none;
}

.liUM {
    margin-top: 1vw;
}

.btnUM{
    width: 8vw;
    background: #DFDFDF;
    border: none;
}

.btnUM:hover{
    color: #DFA32E;
}